# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work
go.work.sum

# IDE/editor specific files
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Data files
/data/config.json
/data/users.json
/data/trivia_questions.json
/data/trivia_scores.json
command_permissions*

# enviorment file
.env
